.scene {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 500px;
    height: 710px;

    perspective: 1000px;
}

.book {
    position: relative;
    width: 100%;
    height: 100%;

    transform-style: preserve-3d;
    box-shadow: 5px 5px 15px #444;
}

.page {
    cursor: pointer;
    position: absolute;
    color: black;
    width: 100%;
    height: 100%;

    transition: 1s ease-in transform;
    transform: translateZ(-1px);
    transform-style: preserve-3d;
    transform-origin: left center;
    border: 1px solid #AAAAAA;
}

.page .front,
.page .back {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    box-sizing: border-box;

    backface-visibility: hidden;
}
.page .front {
    background: #F6F6F6;
}
.page .back {
    transform: rotateY(180deg);
    background: #d6d6d6;
    background: linear-gradient(to bottom right, #FFFFFF, #d6d6d6);
    z-index: 15;
}

.page.active {
    z-index: 1;
    transform: translateZ(0);
}
.page.flipped {
    transform: translateZ(0) rotateY(-180deg);
}
.page.flipped:last-of-type {
    z-index: 1;
}

/* ************************************************
**************   PAGE ORGANIZATION   **************
*************************************************** */
.page .front.page-with-content {
    display: flex;
    flex-direction: column;
}

.page .front.page-with-content header {
    height: 75px;
}
.page .front.page-with-content .page-content {
    flex: 1;
}
.page .front.page-with-content footer {
    height: 75px;
}

.page .front.page-with-content header h2 {
    position: relative;
    text-align: center;
    background: white;
    border: 3px solid black;
    margin: 30px 15px;
    transform: skew(-15deg);
}

.page .front.page-with-content nav.page-navigation {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
}

.page .front.page-with-content nav.page-navigation button {
    position: relative;
    flex: 0 1 33%;
    height: 70%;
    margin: 10px;
    color: #000000;
}

.page .front.page-with-content nav.page-navigation button.prev-page-button {
    background: url("../assets/arrow-to-left.png") no-repeat center left;
    background-size: contain;
}

.page .front.page-with-content nav.page-navigation button.next-page-button {
    background: url("../assets/arrow-to-right.png") no-repeat center right;
    background-size: contain;
}

.page .front.page-with-content nav.page-navigation button {
    font-size: 1rem;
}

.page .front.page-with-content nav.page-navigation .bubble {
    pointer-events: none;
    opacity: 0;
    transition: .3s opacity ease;
}

.page .front.page-with-content nav.page-navigation button:hover .bubble,
.page .front.page-with-content nav.page-navigation button:focus .bubble {
    opacity: 1;
}

.page .front.page-with-content nav.page-navigation button.prev-page-button .bubble {
    top: -65px;
    left: 15%;
}

.page .front.page-with-content nav.page-navigation button.next-page-button .bubble {
    top: -65px;
    right: 15%;
}
