.bubble {
    position: absolute;
    z-index: 30;

    background-color: #fff;
    border: solid 2px #000;
    border-radius: 12px;
    display: inline-block;
    margin: 0;
    padding: .5em 1em;
    min-width: 200px;
}

.bubble.top-left {top: 0; left: 0;}
.bubble.outside-top-left {top: -25px; right: 75%;}
.bubble.outside-bottom-left {bottom: -25px; right: 75%;}
.bubble.outside-top-center {top: -25px; left: 50%;}
.bubble.top-right {top: 0; right: 0;}
.bubble.outside-top-right {top: -25px; left: 75%;}
.bubble.outside-bottom-right {bottom: -25px; left: 75%;}

.bubble:before {
    border: solid 12px transparent;
    bottom: -24px;
    content: "";
    height: 0;
    position: absolute;
    width: 0;
}

.bubble:after {
    border: solid 10px transparent;
    bottom: -19px;
    content: "";
    height: 0;
    position: absolute;
    width: 0;
}

.bubble.arrow-to-left:before {
    border-left: solid 12px #000;
    border-top: solid 12px #000;
    left: 24px;
    transform: skew(-15deg);
}

.bubble.arrow-to-left:after {
    border-left: solid 10px #fff;
    border-top: solid 10px #fff;
    left: 27px;
    transform: skew(-15deg);
}

.bubble.arrow-to-right:before {
    border-left: solid 12px #000;
    border-top: solid 12px #000;
    right: 24px;
    transform: skew(45deg);
}

.bubble.arrow-to-right:after {
    border-left: solid 10px #fff;
    border-top: solid 10px #fff;
    right: 27px;
    transform: skew(45deg);
}


.bubble.arrow-to-top-left:before {
    border: solid 12px transparent;
    top: -24px;
    content: "";
    height: 0;
    position: absolute;
    width: 0;

    border-right: solid 12px #000;
    border-bottom: solid 12px #000;
    left: 24px;
    transform: skew(50deg);
}

.bubble.arrow-to-top-left:after {
    border: solid 10px transparent;
    top: -19px;
    content: "";
    height: 0;
    position: absolute;
    width: 0;

    border-right: solid 10px #fff;
    border-bottom: solid 10px #fff;
    left: 28px;
    transform: skew(50deg);

}
