#certificates-page .page-with-content .panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 20px;
    background: rgb(207,173,0);
    background: linear-gradient(90deg, rgba(207,173,0,1) 0%, rgba(194,116,0,1) 100%);
    overflow: hidden;
}

#certificates-page .page-with-content .panel .panel-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../assets/animations/noise.webp") repeat center center;
    opacity: 0.7;
}

#certificates-page .page-with-content .panel header {
    height: 65px;
}
#certificates-page .page-with-content .panel h2 {
    margin: 15px 30px;
}

#certificates-page .page-with-content .page-content {
    margin-top: -25px;
    padding-top: 0;
    z-index: 10;
}

.diploma {
    display: inline-flex;
    flex-direction: row;
    gap: 2%;
    width: 100%;
    height: 135px;
    margin-top: 40px;
}
.diploma:nth-of-type(2) {
    flex-direction: row-reverse;
    height: 170px;
    margin-top: 20px;
    gap: 5%;
}
.diploma:last-of-type {
    margin-bottom: 0;
}

/* ************************************* */
/* *************   FRAME   ************* */
/* ************************************* */
.diploma-frame {
    position: relative;
    display: inline-block;
    width: 200px;
    min-width: 200px;
    height: 130px;
    background-color: #ffecb9;
}
/* String */
.diploma-frame:before {
    content: "";
    position: absolute;
    top: -15px;
    left: 50%;
    transform: rotateZ(36deg) translate(-50%, 0) skew(-20deg);
    width: 70px;
    height: 70px;
    border-top: 2px solid #1e1e1e;
    border-left: 2px solid #1e1e1e;
}
/* Nail */
.diploma-frame:after {
    content: "";
    position: absolute;
    top: -42px;
    left: 54.6%;
    transform: translate(-50%, 0);
    width: 7px;
    height: 7px;
    background-color: #2c2c2c;
    border-radius: 100%;
}

/* Background round */
.diploma-frame .outerBevel:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    width: 60px;
    height: 60px;
    background-color: #e8c144;
    border-radius: 100%;
    filter: blur(2px);
}

/* Background signature */
.diploma-frame .outerBevel:after {
    content: "≡≡≡≡≡";
    position: absolute;
    bottom: 3%;
    right: 10%;
    color: #e8c144;
    font-size: 2rem;
    text-align: right;
    letter-spacing: -3px;
    filter: blur(1px);
}

.diploma-frame .outerBevel { /* of frame */
    width: 100%;
    height: 100%;
    box-shadow:	4px 6px 12px 0 black;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(109, 84, 58) rgb(24, 19, 13) rgb(24, 19, 13) rgb(109, 84, 58);
}

.diploma-frame .flatSurface { /* of frame */
    width: 100%;
    height: 100%;
    border: 6px solid rgb(65, 40, 16);
}

.diploma-frame .innerBevel { /* of frame */
    width: 100%;
    height: 100%;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(24, 19, 13) rgb(109, 84, 58) rgb(109, 84, 58) rgb(24, 19, 13);
}

.diploma-frame h3 {
    position: absolute;
    top: 38%;
    left: 50%;
    width: 120px;
    transform: translate(-50%, 0);
    font-size: 1.1rem;
    line-height: 1.3rem;
    text-align: center;
}
.diploma-frame h3:before {
    content: "";
    position: absolute;
    top: 0;
    left: -5%;
    width: 110%;
    height: 1.3rem;
    background-color: #e8c144;
    filter: blur(2px);
    z-index: -1;
}

/* ************************************ */
/* *************   LIST   ************* */
/* ************************************ */
.diploma-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.diploma-list, .diploma-list li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.diploma-list li {
    margin: 5px 0;
    font-size: 1rem;
    line-height: 1.2rem;
}
.diploma:not(#certifications-diploma) .diploma-list li {
    margin: 5px 0 5px 10px;
}

#certifications-diploma .diploma-list li:before {
    content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 8px;
    vertical-align: middle;
    filter: drop-shadow(2px 2px 3px black);
}
#certifications-diploma .diploma-list li#a11y-certificate:before {
    background: url("../assets/certifs/access42.webp") no-repeat center center;
    background-size: contain;
}
#certifications-diploma .diploma-list li#psm-certificate:before {
    background: url("../assets/certifs/psm1.webp") no-repeat center center;
    background-size: contain;
}
#certifications-diploma .diploma-list li#opquast-certificate:before {
    background: url("../assets/certifs/opquast.webp") no-repeat center center;
    background-size: contain;
}
#certifications-diploma .diploma-list li#agnostic-certificate:before {
    background: url("../assets/certifs/agnostic-agile.webp") no-repeat center center;
    background-size: contain;
}

.diploma-list li a:hover, .diploma-list li a:focus {
    color: #000031;
}

.diploma-list li a:hover .new-tab-link, .diploma-list li a:focus .new-tab-link {
    background-color: #000031;
    color: #000031;
}