@media (orientation: portrait) and (max-width: 500px) {
    #certificates-page .page-with-content .page-content {
        margin-top: 0;
    }
    #certificates-page .page-with-content .panel {
        overflow: auto;
    }
    #certificates-page .page-with-content .page-content {
        display: inline-block;
        text-align: center;
    }

    .diploma-frame h3 {
        font-size: 1rem;
        line-height: 1.2rem;
    }

    .diploma {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .diploma,
    .diploma:nth-of-type(2) {
        height: auto;
    }
    .diploma, .diploma:last-of-type {
        margin-bottom: 30px;
    }

    .diploma:nth-of-type(2) {
        flex-direction: column;
        gap: 20px;
    }


    .diploma .diploma-list,
    .diploma:nth-of-type(2) .diploma-list {
        align-items: center;
        text-align: center;
    }
}

@media (orientation: landscape) and (max-height: 700px) {
    #certificates-page .page-with-content .panel {
        overflow: auto;
    }

    #certificates-page .page-with-content .panel header {
        height: 55px;
    }
    #certificates-page .page-with-content .panel h2 {
        font-size: 1.2rem;
        margin: 8px 25%;
    }

    #certificates-page .page-with-content .page-content {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: safe center;
        gap: 20px;
        margin-top: 0;
    }

    .diploma {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .diploma,
    .diploma:nth-of-type(2) {
        height: auto;
        margin-top: 40px;
    }
    .diploma, .diploma:last-of-type {
        margin-bottom: 10px;
    }

    .diploma:nth-of-type(2) {
        flex-direction: column;
        gap: 20px;
    }

    .diploma .diploma-list,
    .diploma:nth-of-type(2) .diploma-list {
        align-items: center;
        text-align: center;
    }

    /* ************************************* */
    /* *************   FRAME   ************* */
    /* ************************************* */
    .diploma-frame {
        width: 180px;
        height: 120px;
    }
    /* String */
    .diploma-frame:before {
        top: -10px;
        width: 45px;
        height: 45px;
    }
    /* Nail */
    .diploma-frame:after {
        top: -27px;
        left: 53.2%;
    }

    /* Background round */
    .diploma-frame .outerBevel:before {
        width: 45px;
        height: 45px;
    }

    /* Background signature */
    .diploma-frame .outerBevel:after {
        font-size: 1.4rem;
    }

    .diploma-frame .outerBevel { /* of frame */
        border-width: 2px;
    }

    .diploma-frame .flatSurface { /* of frame */
        border-width: 4px;
    }

    .diploma-frame .innerBevel { /* of frame */
        border-width: 2px;
    }

    .diploma-frame h3 {
        top: 38%;
        left: 50%;
        width: 70%;
        font-size: 1rem;
        line-height: 1.2rem;
    }
    .diploma-frame h3:before {
        height: 1.2rem;
    }
}

