#contact-page .page-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#contact-page p.contact-part {
    margin: 0;
}

#contact-page .contact-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
}

#contact-page .page-content #contact-link { flex: 4; }
#contact-page .page-content #contact-technologies { flex: 3; }
#contact-page .page-content #contact-mentions { flex: 1; }

#contact-page .page-content a, #contact-page .page-content button {
    text-decoration: underline;
    color: #00009a;
}


/* *********************************
*********   CONTACT LINK   *********
************************************ */
#contact-page .page-content #contact-link {
    font-size: 1.3rem;
}
#contact-page .page-content #contact-link #print-button {
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
    font-size: inherit;
}


/* *********************************
*********   TECHNOLOGIES   *********
************************************ */
#contact-page .page-content #contact-technologies #contact-technology-list__label {
    font-weight: 700;
    margin: 0;
    text-align: center;

}
#contact-page .page-content #contact-technologies ol,
#contact-page .page-content #contact-technologies li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#contact-page .page-content #contact-technologies ol {
    display: flex;
    width: 100%;
    border: 2px solid black;
}

/* Fallbacks for attr function support */
#contact-page .page-content #contact-technologies li#contact-technology__css { width: 60%; }
#contact-page .page-content #contact-technologies li#contact-technology__html { width: 34%; }
#contact-page .page-content #contact-technologies li#contact-technology__js { width: 6%; min-width: 2rem; }

#contact-page .page-content #contact-technologies li {
    width: attr(data-value %); /* Not implemented in most browser for now */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#contact-page .page-content #contact-technologies li:not(:last-of-type) {
    border-right: 2px solid black;
}
#contact-page .page-content #contact-technologies li#contact-technology__js { font-size: .9rem; }


#contact-page .page-content #contact-technologies li#contact-technology__css { background-color: purple; color: #ffeeff; text-shadow: 1px 1px 2px black; }
#contact-page .page-content #contact-technologies li#contact-technology__html { background-color: #ff7e46; }
#contact-page .page-content #contact-technologies li#contact-technology__js { background-color: yellow; }

#contact-technology-list__framework {
    text-align: center;
    margin-bottom: 0;
}
#contact-technology-list__framework--complementary {
    text-align: center;
    font-size: .7rem;
    margin-top: 0;
}


/* *********************************
*********     MENTIONS     *********
************************************ */
#contact-mentions {
    font-size: 1.4rem;
    background-image: radial-gradient(circle, #ceffce, yellowgreen);
}