/*#cover {*/
/*    z-index: 20;*/
/*}*/

#cover button span {
    display: block;
}

#cover button,  #cover button img {
    width: 100%;
    height: 100%;
}



/*button#cover:has(.flipped) {*/
/*    pointer-events: none;*/
/*}*/


/*!* Override card pattern*!*/
/*.flip-card {*/
/*    position: relative;*/
/*    display: inline-block;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    border: none;*/
/*}*/

/*#cover .flip-card-inner {*/
/*    transition: transform 0.9s cubic-bezier(0.75, 0, 0.85, 1);*/
/*    transform-origin: left;*/
/*}*/

/*.flip-card.flipped .flip-card-inner, .flip-card-back {*/
/*    transform: rotateY(-180deg);*/
/*}*/


/*.flip-card-back {*/
/*    background-color: #002144;*/
/*}*/
