.dialog-container {
    position: fixed;
    overflow-y: auto;
    z-index: 900;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(200, 200, 200, 0.5);
    opacity: 0;
}

.dialog-container:not([inert]) {
    display: block;
    animation: dialog-fade-in .2s ease-in forwards;
}
.dialog-container.closing {
    animation: dialog-fade-out .2s ease-in forwards;
}
.dialog-container[inert] {
    display: none;
}

@keyframes dialog-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes dialog-fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.dialog-container .dialog {
    position: fixed;
    z-index: 990;
    top: 50%;
    left: 50%;
    height: auto;
    width: 80%;
    max-height: 80%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #444;
    box-shadow: 6px 6px 6px #444;
}

.dialog-container button.close-dialog {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.3rem;
    background-color: white;
    border: 2px solid black;
    padding: 3px 10px;
    cursor: pointer;
}

.dialog-container button.close-dialog:hover,
.dialog-container button.close-dialog:focus {
    box-shadow: 0 0 20px #444;
}

@media  (orientation: portrait) and (max-width: 500px),
        (orientation: landscape) and (max-height: 700px) {
    .dialog-container {
        background-color: unset;
    }

    .dialog-container .dialog {
        position: unset;
        transform: none;
        border: none;
        box-shadow: none;
        min-height: 100vh;
        width: 100vw;
    }
}

@media  (orientation: landscape) and (max-height: 700px) {
    .dialog-container {
        background-color: unset;
    }

    .dialog-container .dialog {
        position: unset;
        transform: none;
        border: none;
        box-shadow: none;
        min-height: 100vh;
        width: 100vw;
    }
}