
.halftone-watermark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;

    background: url("../assets/ornaments/halftone.webp") no-repeat center center;
    background-size: 80%;
}

.wm-revealing .halftone-watermark {
    -webkit-mask-image: url("../assets/ornaments/revealing-mask.webp");
    mask-image: url("../assets/ornaments/revealing-mask.webp");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: 140% center;
    mask-position: 140% center;
    -webkit-mask-size: auto 100%;
    mask-size: auto 100%;
    -webkit-animation: reveal-reverse 1.5s ease-out forwards;
    -moz-animation: reveal-reverse 1.5s ease-out forwards;
    animation: reveal-reverse 1.5s ease-out forwards;
}

.wm-revealing:hover .halftone-watermark,
.wm-revealing.hover .halftone-watermark,
.wm-revealing a:focus .halftone-watermark {
    -webkit-animation: reveal 1.5s ease-out forwards;
    -moz-animation: reveal 1.5s ease-out forwards;
    animation: reveal 1.5s ease-out forwards;
}
@-webkit-keyframes reveal-reverse {
    from { -webkit-mask-position: 0 center; }
    to { -webkit-mask-position: 140% center; }
}
@keyframes reveal-reverse {
    from {
        -webkit-mask-position: 0 center;
        mask-position: 0 center;
    }
    to {
        -webkit-mask-position: 140% center;
        mask-position: 140% center;
    }
}
@-webkit-keyframes reveal {
    from { -webkit-mask-position: 140% center; }
    to { -webkit-mask-position: 0 center; }
}
@keyframes reveal {
    from {
        -webkit-mask-position: 140% center;
        mask-position: 140% center;
    }
    to {
        -webkit-mask-position: 0 center;
        mask-position: 0 center;
    }
}

.page.flipped .wm-revealing .halftone-watermark,
.disable-animation .wm-revealing .halftone-watermark {
    display: none;
}
@media (prefers-reduced-motion: reduce) {
    .wm-revealing .halftone-watermark {
        display: none;
    }
}


.rays-watermark {
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    opacity: 0.3;

    -webkit-mask: repeating-conic-gradient(#000 0% 2.5%, transparent 0% 5%);
    mask: repeating-conic-gradient(#000 0% 2.5%, transparent 0% 5%);

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: 100%;
    mask-size: 100%;

    background-image: radial-gradient(circle, #a6a6a6, #737373);
}

.panel:hover .rays-watermark,
.panel.hover .rays-watermark,
a:focus .rays-watermark {
    -webkit-animation: spin 1s ease-out forwards;
    -moz-animation: spin 1s ease-out forwards;
    animation: spin 1s ease-out forwards;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(90deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(90deg); } }
@keyframes spin {
    100% {
        -webkit-transform: rotate(90deg);
        transform:rotate(90deg);
    }
}

.page.flipped .panel:hover .rays-watermark,
.page.flipped .panel.hover .rays-watermark,
.page.flipped a:focus .rays-watermark,
.disable-animation .panel:hover .rays-watermark,
.disable-animation .panel.hover .rays-watermark,
.disable-animation a:focus .rays-watermark {
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
}
@media (prefers-reduced-motion: reduce) {
    .panel:hover .rays-watermark,
    .panel.hover .rays-watermark,
    a:focus .rays-watermark {
        -webkit-animation: none;
        -moz-animation: none;
        animation: none;
    }
}


/*
Bottom right for halftone
 */
.br {
    bottom: -100%;
    position: absolute;
    right: -100%;
    left: auto;
    top: auto;
    transform: skew(-15deg);
    height: 200%;
    width: 200%;
}

/* ************ RADIAL SPEED ************ */
.radial-speed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;

    background: url("../assets/ornaments/radial-speed.webp") no-repeat center center;
    background-size: 350%;
    transition: background-size .3s linear;
}
.panel:hover .radial-speed,
.panel.hover .radial-speed,
a:focus .radial-speed {
    background-size: 150%;
}

/* *********************************
****     DISABLE ANIMATIONS      ***
************************************ */
.page.flipped .panel:hover .radial-speed,
.page.flipped .panel.hover .radial-speed,
.page.flipped a:focus .radial-speed,
.disable-animation .panel:hover .radial-speed,
.disable-animation .panel.hover .radial-speed,
.disable-animation a:focus .radial-speed {
    background-size: 350%;
}
@media (prefers-reduced-motion: reduce) {
    .panel:hover .radial-speed,
    .panel.hover .radial-speed,
    a:focus .radial-speed {
        background-size: 350%;
    }
}


/* ************ STARS WATERMARK ************ */
.stars-watermark {
    position: absolute;
    top: -25%;
    left: -25%;
    width: 150%;
    height: 150%;
    opacity: 0.3;

    background: url("../assets/ornaments/star.webp") repeat center center;
    background-size: 8%;
    transform: rotateZ(-15deg);
    transition: translate .3s linear;
}
.panel:hover .stars-watermark,
.panel.hover .stars-watermark,
a:focus .stars-watermark {
    translate: 20px;
}

.page.flipped .panel:hover .stars-watermark,
.page.flipped .panel.hover .stars-watermark,
.page.flipped a:focus .stars-watermark,
.disable-animation .panel:hover .stars-watermark,
.disable-animation .panel.hover .stars-watermark,
.disable-animation a:focus .stars-watermark {
    translate: unset;
}
@media (prefers-reduced-motion: reduce) {
    .panel:hover .stars-watermark,
    .panel.hover .stars-watermark,
    a:focus .stars-watermark {
        translate: unset;
    }
}