#hobbies-page h2 {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translate(-50%, 0) skew(-15deg);
    text-align: center;
    background-color: white;
    border: 3px solid black;
    width: 300px;
    margin: 0;
    z-index: 50;
}
#hobbies-page h2 .title-part {
    display: inline-block;
}

#hobbies-page #carrousel-panel {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: black;
    background-image: none;
}

#hobbies-page #carrousel-panel {
    overflow: hidden;
}
#hobbies-page #carrousel-panel,
#hobbies-page #carrousel-panel .carrousel-content {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: 0;
}

#hobbies-page #carrousel-panel .carrousel-content {
    position: absolute;
    z-index: 10;
}

#hobbies-page #carrousel-panel .carrousel-item {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    perspective: 1000px;
    perspective-origin: 50% 50%;
}

#hobbies-page #carrousel-panel .carrousel-item a {
    color: white;
    text-decoration: underline;
}

#hobbies-page #carrousel-panel .carrousel-item a .new-tab-link {
    background-color: white;
    font-size: 0.0001rem;
}

/* **************   DECORATIONS   ************** */
#hobbies-page #carrousel-panel .decorations * {
    pointer-events: none;
}
#hobbies-page #carrousel-panel .decorations .background {
    position: absolute;
    width: 150%;
    height: 70%;
    top: 0;
    left: -25%;
    background: rgb(253,220,166);
    background: radial-gradient(circle, rgba(253,220,166,1) 0%, rgba(182,143,146,1) 71%);
}

#hobbies-page #carrousel-panel .decorations .table {
    position: absolute;
    width: 200%;
    height: 60%;
    top: 65%;
    left: -50%;
    transform: rotateZ(-2deg);
    border: 2px solid black;
    background: rgb(243,231,183);
    background: linear-gradient(180deg, rgba(243,231,183,1) 0%, rgba(141,169,180,1) 25%, rgba(7,30,38,1) 75%);
}


/* **************   TV SET   ************** */
#hobbies-page #carrousel-panel .tv-set {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#hobbies-page #carrousel-panel .tv {
    position: absolute;
    width: 100%;
    height: 80%;
    top: 0;
    left: 2%;
    background: url("../assets/ornaments/old-screen.webp") top center no-repeat;
    background-size: contain;
    z-index: 25;
    pointer-events: none;
}

#hobbies-page #carrousel-panel .tv-background {
    position: absolute;
    width: 80%;
    height: 40%;
    top: 5%;
    left: 10%;
}
#hobbies-page #carrousel-panel .tv-background:before,
#hobbies-page #carrousel-panel .tv-background:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#hobbies-page #carrousel-panel .tv-background:before {
    background-color: black;
    z-index: 0;
}

#hobbies-page #carrousel-panel .tv-background:after {
    background-image: url("../assets/animations/tv_noise.gif");
    z-index: 10;
    opacity: 0.5;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.disable-animation #hobbies-page #carrousel-panel .tv-background:after {
    background-image: url("../assets/animations/tv_noise_static.webp");
}
@media (prefers-reduced-motion: reduce) {
    #hobbies-page #carrousel-panel .tv-background:after {
        background-image: url("../assets/animations/tv_noise_static.webp");
    }
}

#hobbies-page #carrousel-panel .tv-shutdown-effect {
    content: "";
    position: absolute;
    width: 70%;
    height: 40%;
    top: 7%;
    left: 15%;
    background-color: black;
    z-index: 20;
    pointer-events: none;
}

#hobbies-page #carrousel-panel .tv-shutdown-effect:before,
#hobbies-page #carrousel-panel .tv-shutdown-effect:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    border-radius: 15%;
    background-color: white;
    transform: translate(-50%, -50%);
}

#hobbies-page:not(.active) #carrousel-panel .tv-shutdown-effect:after {
    animation: tv-shutdown .2s ease-out forwards;
    animation-delay: .2s; /* Wait for the container fade in: animation tv-effect-fadein-after-shutdown */
}

#hobbies-page.active #carrousel-panel .tv-shutdown-effect:after {
    animation: tv-turn-on .3s ease-out forwards;
    animation-delay: 1s;
}

@keyframes tv-shutdown {
    0% { height: 100%; width: 100%; }
    95% { width: 100%; }
    100% { height: 0; width: 0; }
}
@-webkit-keyframes tv-shutdown {
    0% { height: 100%; width: 100%; }
    95% { width: 100%; }
    100% { height: 0; width: 0; }
}

@keyframes tv-turn-on {
    0% { height: 0; width: 0; }
    75% { height: 2%; width: 100%; }
    100% { height: 100%; width: 100%; }
}

#hobbies-page.active #carrousel-panel .tv-shutdown-effect {
    animation: tv-effect-fadeout-after-turn-on 2s ease-out forwards;
    animation-delay: 1.3s;
}

@keyframes tv-effect-fadeout-after-turn-on {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

#hobbies-page:not(.active) #carrousel-panel .tv-shutdown-effect {
    animation: tv-effect-fadein-after-shutdown .4s ease-out forwards;
}

@keyframes tv-effect-fadein-after-shutdown {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.disable-animation #hobbies-page #carrousel-panel .tv-shutdown-effect {
    display: none;
}
@media (prefers-reduced-motion: reduce) {
    #hobbies-page #carrousel-panel .tv-shutdown-effect {
        display: none;
    }
}


/* **************   NAVIGATION BUTTONS   ************** */
#hobbies-page #carrousel-panel nav .button-container {
    position: absolute;
    top: 100px;
    height: 95px;
    width: 85px;
    padding: 10px 5px;
    opacity: 0.7;
    z-index: 50;
    transition: scale .3s ease, opacity .3s ease;
    border-radius: 5px;
}
#hobbies-page #carrousel-panel nav .button-container:before {
    content: "";
    position: absolute;
    top: 10px;
    left: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 20px);
    background: url("../assets/icons/arrow-simple.webp") center center no-repeat;
    background-size: contain;
    filter: drop-shadow(2px 2px 2px black);
}
#hobbies-page #carrousel-panel nav .button-container:hover,
#hobbies-page #carrousel-panel nav .button-container:has(button:focus) {
    opacity: 1;
    scale: 1.1;
}
#hobbies-page #carrousel-panel nav .button-container:has(button:focus-visible) {
    border: 3px solid white;
}
#hobbies-page #carrousel-panel nav button {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: white;
    mask: url("../assets/icons/arrow-simple.webp") center center no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    color: transparent;
    cursor: pointer;
}
#hobbies-page #carrousel-panel nav .button-container:nth-of-type(1) {
    left: 15px;
    transform: rotateY(180deg);
}
#hobbies-page #carrousel-panel nav .button-container:nth-of-type(2) {
    right: 5px;
}

/* ******************   PICTURE   ****************** */
#hobbies-page #carrousel-panel .carrousel-item .slide-picture {
    position: absolute;
    top: 40px;
    left: calc(50% + 5px);
    transform: translate(-50%, 0) rotateY(12deg) rotateZ(-2deg);
    width: 287px;
    height: 223px;
    z-index: 10;

    transform-style: preserve-3d;

    display: flex;
    align-items: center;
    justify-content: center;
}

#hobbies-page #carrousel-panel .carrousel-item .slide-picture figure {
    margin: 0;
    padding: 5px;
    height: auto;
    width: 80%;
    text-align: center;
    background-color: white;
    cursor: pointer;
    transition: all .3s ease;
    box-shadow:
            0 0 0 1px #555,
            4px 4px 3px black;
}
#hobbies-page #carrousel-panel .carrousel-item .slide-picture figure:hover,
#hobbies-page #carrousel-panel .carrousel-item .slide-picture figure:focus {
    scale: 1.1;
    box-shadow:
            0 0 0 1px #555,
            0 0 3px white,
            0 0 6px white,
            0 0 9px white,
            0 0 12px white,
            0 0 15px white;
}

#hobbies-page #carrousel-panel .carrousel-item .slide-picture:has(figure:hover),
#hobbies-page #carrousel-panel .carrousel-item .slide-picture:has(figure:focus) {
    z-index: 100;
}

#hobbies-page #carrousel-panel .carrousel-item .slide-picture figure * {
    pointer-events: none;
}

#hobbies-page #carrousel-panel .carrousel-item .slide-picture img {
    margin-top: 10px;
    max-height: 110px;
    max-width: 100%;
    cursor: pointer;
    border: 1px solid #444;
}

#hobbies-page #carrousel-panel .carrousel-item .slide-picture figure figcaption {
    margin: 2px 5px;
    line-height: .9rem;
}

/* ******************   DESCRIPTION   ****************** */
#hobbies-page #carrousel-panel .carrousel-item .slide-description {
    position: absolute;
    bottom: 10px;
    left: 5%;
    width: 90%;
    height: 140px;
    border: 4px solid white;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 1rem;
    line-height: 1.3rem;
    padding: 0.2rem 0.6rem;
    box-shadow: 6px 6px 6px -3px #000;
    text-shadow: 1px 1px 1px black, 0 1px 1px black, 1px 0 1px black, 0 0 1px black;
    overflow: auto;
}

#hobbies-page #carrousel-panel .carrousel-item .slide-description p {
    margin: 0;
}

/* ******************   ANIMATION   ****************** */
#hobbies-page #carrousel-panel .carrousel-item:not(.active) {
    display: none;
}

/* We are moving directly the sub figure/div in order to use the figure mask (the figure won't slide out of the TV) */
/* and the panel overflow hidden (the description won't slide out of the panel) */
#hobbies-page .title-part.fading-out-left,
#hobbies-page #carrousel-panel .carrousel-item.fading-out-left figure,
#hobbies-page #carrousel-panel .carrousel-item.fading-out-left .slide-description {
    animation: slide-fading-out-left .3s ease-in forwards;
}
#hobbies-page .title-part.fading-out-right,
#hobbies-page #carrousel-panel .carrousel-item.fading-out-right figure,
#hobbies-page #carrousel-panel .carrousel-item.fading-out-right .slide-description {
    animation: slide-fading-out-right .3s ease-in forwards;
}
#hobbies-page .title-part.fading-in-left,
#hobbies-page #carrousel-panel .carrousel-item.fading-in-left figure,
#hobbies-page #carrousel-panel .carrousel-item.fading-in-left .slide-description {
    animation: slide-fading-in-left .3s ease-out forwards;
}
#hobbies-page .title-part.fading-in-right,
#hobbies-page #carrousel-panel .carrousel-item.fading-in-right figure,
#hobbies-page #carrousel-panel .carrousel-item.fading-in-right .slide-description {
    animation: slide-fading-in-right .3s ease-out forwards;
}

@keyframes slide-fading-out-left { 100% { transform: translateX(-100px); opacity: 0; } }
@-webkit-keyframes slide-fading-out-left { 100% { transform: translateX(-100px); opacity: 0; } }
@keyframes slide-fading-out-right { 100% { transform: translateX(100px); opacity: 0; } }
@-webkit-keyframes slide-fading-out-right { 100% { transform: translateX(100px); opacity: 0; } }

@keyframes slide-fading-in-left {
    0%      { transform: translateX(-100px);  opacity: 0;    }
    100%    { transform: translateX(0);     opacity: 1;     }
}
@-webkit-keyframes slide-fading-in-left {
    0%      { transform: translateX(-100px);  opacity: 0;    }
    100%    { transform: translateX(0);     opacity: 1;     }
}
@keyframes slide-fading-in-right {
    0%      { transform: translateX(100px);  opacity: 0;     }
    100%    { transform: translateX(0);     opacity: 1;     }
}
@-webkit-keyframes slide-fading-in-right {
    0%      { transform: translateX(100px);  opacity: 0;     }
    100%    { transform: translateX(0);     opacity: 1;     }
}


/* ******************   DIALOG   ****************** */
#portfolio-dialog .dialog {
    display: flex;
    padding: 60px 15px 55px 15px;
    text-align: center;
    font-size: 1.4rem;
}

#portfolio-dialog .dialog img {
    border: 1px solid #444;
    max-width:100%;
    max-height:100%;
    height: auto;
    width: auto;
    object-fit: contain;
}

#portfolio-dialog .dialog p {
    margin: 0;
}