
h2 {
    font-size: 1rem;
    font-weight: normal;
}

#categories {
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Comic Sans', cursive;
    padding: 1vmin;
    background-color: white;
}

.bubble-icon {
    position: absolute;
    bottom: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    z-index: 5;
    pointer-events: none;
}


#presentation .bubble {
    opacity: 0;
    transition: opacity .3s linear;
}
#presentation:hover .bubble, #presentation:focus .bubble {
    opacity: 1;
}

.portrait {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    height: 85%;
    z-index: 10;
}

#skills, #certificates {
    display: flex;
    align-items: center;
    justify-content: center;
}
.brain-icon {
    margin-top: -15px;
    height: 35%;
    filter: drop-shadow(0 5px 0px #444);
    pointer-events: none;
    z-index: 10;
}


#certificates img {
    transform: rotateZ(-15deg);
    transition: all .3s linear;
}
#certificates:hover img, #certificates:focus img {
    transform: rotateZ(-25deg);
}
#certificates:hover .certificate-icon, #certificates:focus .certificate-icon {
    scale: 1.25;
}

#certificates .bubble-icon {
    top: 0;
    left: 0;
}
.certificate-icon {
    margin-top: 35px;
    height: 60%;
    filter: drop-shadow(0 5px 0px #444);
    pointer-events: none;
    z-index: 10;
}

#talks .talk-img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    height: 85%;
    z-index: 10;

    pointer-events: none;
    transition: scale .3s linear,  transform .3s linear;
}

#talks:hover .talk-img, #talks:focus .talk-img {
    scale: 1.2;
    transform: translate(-40%, 0);
}

#hobbies #mixing-bowl > * {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 70%;
    width: 70%;
    margin-left: -35%;
    margin-top: -35%;

    z-index: 30;
    transition: all .2s linear;
}

#hobbies #mixing-bowl .bowl {
    top: 60%;
}
#hobbies #mixing-bowl .bowl-front {
    filter: drop-shadow(0 5px 0px #444);
}
#hobbies:hover #mixing-bowl .bowl-front,
#hobbies:hover #mixing-bowl .bowl-back,
#hobbies:focus #mixing-bowl .bowl-front,
#hobbies:focus #mixing-bowl .bowl-back {
    top: 80%;
    scale: 1.1;
    transform: rotateZ(-10deg);
}
#hobbies #mixing-bowl .whisk {
    top: 40%;
    left: 70%;
    transform: rotateZ(15deg);
    filter: drop-shadow(2px 2px 0px #444);
}
#hobbies:hover #mixing-bowl .whisk, #hobbies:focus #mixing-bowl .whisk {
    scale: 1.1;
    transform: rotateZ(25deg);
    top: 25%;
    left: 85%;
}
#hobbies #mixing-bowl .belt {
    top: 55%;
    left: 35%;
    margin-left: -25%;
    transform: rotateZ(45deg);
    width: 45%;
}
#hobbies:hover #mixing-bowl .belt, #hobbies:focus #mixing-bowl .belt {
    top: 60%;
    left: 35%;
    margin-left: -40%;
    scale: 1.1;
    transform: rotateZ(30deg);
}
#hobbies #mixing-bowl .notebook {
    top: 65%;
    left: 65%;
    transform: rotateZ(-5deg);
    width: 40%;
    height: 40%;

    filter: drop-shadow(1px 1px 0px #444);

    display: flex;
    align-items: center;
    justify-content: center;
}
#hobbies:hover #mixing-bowl .notebook, #hobbies:focus #mixing-bowl .notebook {
    top: 45%;
    left: 60%;
    transform: rotateZ(5deg);
    scale: 1.1;
}

#hobbies #mixing-bowl .notebook span {
    position: absolute;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 20px;
}

#hobbies #mixing-bowl .shoe {
    top: 45%;
    left: 50%;
    width: 30%;
    height: 30%;
    margin-left: -15%;
    margin-top: -15%;
}
#hobbies:hover #mixing-bowl .shoe, #hobbies:focus #mixing-bowl .shoe {
    top: 25%;
    left: 20%;
    scale: 1.1;
}

#contact .handshake {
    position: absolute;
    top: 0;
    left: -1px;
    width: 100%;
    height: 100%;
    z-index: 10;
    pointer-events: none;
    object-fit: cover;
}