#skills-page .page-content {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: 20px;
}

#skills-page .page-content,
#skills-page #skills-section,
#skills-page #experiences-section {
    gap: 10px;
}

#skills-page .page-content h2, #skills-page h3 {
    padding: 0;
    margin: 0;
}

#skills-page ul, #skills-page li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#skills-page li.item-spacer {
    margin-top: 15px;
}

/* **************************************** */
/* **********    BOTH PANELS    *********** */
/* **************************************** */

#skills-page #skills-section,
#skills-page #experiences-section {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#skills-page .panel {
    padding: 10px;
    flex-basis: unset;
}

#skills-page h2.panel {
    font-size: 1.2rem;
    font-weight: normal;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    background-image: none;
}

/* **************************************** */
/* *************    SKILLS    ************* */
/* **************************************** */
#skills-page #skills-details {
    flex: 1;
    background-image: radial-gradient(circle, #4b717e, #414a4d);
    color: white;
    overflow: auto;
}

#skills-page #skills-details h3 {
    font-size: 1.2rem;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

#skills-page #skills-details h3:not(:first-of-type) {
    margin-top: 20px;
}

#skills-page #skills-details li {
    display: flex;
    margin-bottom: 2px;
}

#skills-page .skill-title {
    flex: 1;
    width: 80px;
}

#skills-page .skill-gauge {
    flex: 1;
    min-width: 120px;
    display: flex;
}

#skills-page .skill-gauge span {
    flex: 1;
    position: relative;
    width: 9px;
    height: 21px;
    border: 2px solid black;
}
#skills-page .skill-gauge span:not(:last-of-type) {
    margin-right: 3px;
}

#skills-page .skill-gauge span.skill-gauge-full {
    background: rgb(254,255,0);
    background: linear-gradient(90deg, rgba(254,255,0,1) 0%, rgba(255,179,0,1) 90%, rgba(255,107,0,1) 100%);
}
#skills-page .skill-gauge span.skill-gauge-empty {
    opacity: 0.5;
}

/* ***************************************** */
/* *************  EXPERIENCES  ************* */
/* ***************************************** */
#skills-page #experiences-section {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#skills-page #experiences-details {
    position: unset;
    flex: 1 0;
    background-image: radial-gradient(circle, yellow, orange);
    overflow: auto;
}

#skills-page #experiences-details dl,
#skills-page #experiences-details dt,
#skills-page #experiences-details dd {
    margin: 0;
}

#skills-page #experiences-details dt,
#skills-page #experiences-details dt button {
    font-size: 1.2rem;
    line-height: 1.1rem;
    text-align: left;
}

#skills-page #experiences-details dt button {
    width: 100%;
    padding: 10px 0;
}

#skills-page #experiences-details dt button:after {
    content: "";
    display : inline-block;
    float: right;
    height : 0;
    width : 0;
    border-top : 15px solid black;
    border-right : 9px solid transparent;
    border-left : 6px solid transparent;
    transition: transform .2s ease-out;
}
#skills-page #experiences-details dt button[aria-expanded=true]:after {
    transform: rotateZ(180deg);
}

#skills-page #experiences-details dt:not(:first-of-type):before {
    content: "";
    display: inline-block;
    height: 0;
    width: 80%;
    margin: 0 10% 10px 10%;
    border-top: 2px solid black;
    opacity: 0.8;
}

#skills-page #experiences-details dt .experiences-dates {
    font-size: .9rem;
    display: inline-block;
}

#skills-page #experiences-details dd {
    font-size: 0.95rem;
    line-height: 0.95rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height .7s ease-out;
}
#skills-page #experiences-details dt:has(button[aria-expanded=true]) + dd {
    max-height: 300px;
}

#skills-page #experiences-details dd .client {
    font-size: 1.05rem;
    font-weight: bold;
}

#skills-page #experiences-details dd .experiences-context {
    display: inline-block;
    font-size: 0.85rem;
    transform: skew(-10deg); /* Simulate italic */
    margin-top: 5px;
}

