#skills-page .page-content {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: 20px;
}

#skills-page .page-content,
#skills-page #skills-section,
#skills-page #experiences-section {
    gap: 10px;
}

#skills-page .page-content h2, #skills-page h3 {
    padding: 0;
    margin: 0;
}

#skills-page .page-content ul, #skills-page .page-content li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#skills-page .page-content li.item-spacer {
    margin-top: 15px;
}

/* **************************************** */
/* **********    BOTH PANELS    *********** */
/* **************************************** */

#skills-page #skills-section,
#skills-page #experiences-section {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#skills-page .panel {
    padding: 10px;
    flex-basis: unset;
}

#skills-page h2.panel {
    font-size: 1.2rem;
    font-weight: normal;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    background-image: none;
}

/* **************************************** */
/* *************    SKILLS    ************* */
/* **************************************** */
#skills-page #skills-details {
    flex: 1;
    background-image: radial-gradient(circle, #4b717e, #414a4d);
    color: white;
    overflow: auto;
}

#skills-page #skills-details h3 {
    font-size: 1.2rem;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

#skills-page #skills-details h3:not(:first-of-type) {
    margin-top: 20px;
}

#skills-page #skills-details li {
    display: flex;
    width: 100%;
    margin-bottom: 2px;
}

#skills-page .skill-title {
    flex: 6;
}

#skills-page .skill-gauge {
    display: inline-flex;
    flex: 4;
}

#skills-page .skill-gauge span {
    flex: 1;
    position: relative;
    width: 9px;
    height: 21px;
    border: 2px solid black;
}
#skills-page .skill-gauge span:not(:last-of-type) {
    margin-right: 3px;
}

#skills-page.active .skill-gauge span.skill-gauge-partial {
    animation: fill-gauge-partial .1s linear forwards;
}
#skills-page.active .skill-gauge span.skill-gauge-full {
    animation: fill-gauge .1s linear forwards;
}

#skills-page.active .skill-gauge span:nth-of-type(1) { animation-delay: .9s; }
#skills-page.active .skill-gauge span:nth-of-type(2) { animation-delay: 1s; }
#skills-page.active .skill-gauge span:nth-of-type(3) { animation-delay: 1.1s; }
#skills-page.active .skill-gauge span:nth-of-type(4) { animation-delay: 1.2s; }
#skills-page.active .skill-gauge span:nth-of-type(5) { animation-delay: 1.3s; }
/*#skills-page.active .skill-gauge span.skill-gauge-full:nth-of-type(6) { animation-delay: 1s; }*/
/*#skills-page.active .skill-gauge span.skill-gauge-full:nth-of-type(7) { animation-delay: 1.1s; }*/
/*#skills-page.active .skill-gauge span.skill-gauge-full:nth-of-type(8) { animation-delay: 1.2s; }*/
/*#skills-page.active .skill-gauge span.skill-gauge-full:nth-of-type(9) { animation-delay: 1.3s; }*/
/*#skills-page.active .skill-gauge span.skill-gauge-full:nth-of-type(10) { animation-delay: 1.4s; }*/

#skills-page:not(.active) .skill-gauge span.skill-gauge-partial {
    background: rgb(254,255,0);
    background: linear-gradient(90deg, rgb(255, 221, 0) 40%, rgba(255,179,0,0) 90%, rgba(255,107,0,0) 100%);
    animation: fill-gauge-partial-reverse .1s linear forwards;
}

#skills-page:not(.active) .skill-gauge span.skill-gauge-full {
    background: rgb(254,255,0);
    background: linear-gradient(90deg, rgba(254,255,0,1) 0%, rgba(255,179,0,1) 90%, rgba(255,107,0,1) 100%);
    animation: fill-gauge-reverse .1s linear forwards;
}

/*#skills-page:not(.active) .skill-gauge span.skill-gauge-full:nth-of-type(10) { animation-delay: 0s; }*/
/*#skills-page:not(.active) .skill-gauge span.skill-gauge-full:nth-of-type(9) { animation-delay: .1s; }*/
/*#skills-page:not(.active) .skill-gauge span.skill-gauge-full:nth-of-type(8) { animation-delay: .2s; }*/
/*#skills-page:not(.active) .skill-gauge span.skill-gauge-full:nth-of-type(7) { animation-delay: .3s; }*/
/*#skills-page:not(.active) .skill-gauge span.skill-gauge-full:nth-of-type(6) { animation-delay: .4s; }*/
#skills-page:not(.active) .skill-gauge span.skill-gauge-full:nth-of-type(5) { animation-delay: 0s; }
#skills-page:not(.active) .skill-gauge span.skill-gauge-full:nth-of-type(4) { animation-delay: .1s; }
#skills-page:not(.active) .skill-gauge span.skill-gauge-full:nth-of-type(3) { animation-delay: .2s; }
#skills-page:not(.active) .skill-gauge span.skill-gauge-full:nth-of-type(2) { animation-delay: .3s; }
#skills-page:not(.active) .skill-gauge span.skill-gauge-full:nth-of-type(1) { animation-delay: .4s; }

.disable-animation #skills-page.active .skill-gauge span.skill-gauge-full { animation-delay: 0s !important; }
.disable-animation #skills-page:not(.active) .skill-gauge span.skill-gauge-full { animation: none !important; }
@media (prefers-reduced-motion: reduce) {
    #skills-page.active .skill-gauge span.skill-gauge-full {
        animation-delay: 0s !important;
    }

    #skills-page:not(.active) .skill-gauge span.skill-gauge-full {
        animation: none !important;
    }
}

#skills-page.active .skill-gauge span.skill-gauge-empty {
    animation: hide-empty-gauge 2s ease-out forwards;
}
#skills-page:not(.active) .skill-gauge span.skill-gauge-empty {
    animation: hide-empty-gauge-reverse .5s ease-out forwards;
}

@keyframes fill-gauge {
    0% {
        background: none;
    }
    100% {
        background: rgb(254,255,0);
        background: linear-gradient(90deg, rgba(254,255,0,1) 0%, rgba(255,179,0,1) 90%, rgba(255,107,0,1) 100%);
    }
}
@keyframes fill-gauge-partial {
    0% {
        background: none;
    }
    100% {
        background: rgb(254,255,0);
        background: linear-gradient(90deg, rgb(255, 221, 0) 40%, rgba(255,179,0,0) 90%, rgba(255,107,0,0) 100%);
    }
}
@keyframes fill-gauge-reverse {
    0% {
        background: rgb(254,255,0);
        background: linear-gradient(90deg, rgba(254,255,0,1) 0%, rgba(255,179,0,1) 90%, rgba(255,107,0,1) 100%);
    }
    100% {
        background: none;
    }
}
@keyframes fill-gauge-partial-reverse {
    0% {
        background: rgb(254,255,0);
        background: linear-gradient(90deg, rgb(255, 221, 0) 40%, rgba(255,179,0,0) 90%, rgba(255,107,0,0) 100%);
    }
    100% {
        background: none;
    }
}

@keyframes hide-empty-gauge {
    0% { opacity: 1; }
    100% { opacity: 0.5; }
}

@keyframes hide-empty-gauge-reverse {
    0% { opacity: 0.5; }
    100% { opacity: 1; }
}

/* ***************************************** */
/* *************  EXPERIENCES  ************* */
/* ***************************************** */
#skills-page #experiences-section {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#skills-page #experiences-details {
    position: unset;
    flex: 1 0;
    background-image: radial-gradient(circle, yellow, orange);
    overflow: auto;
}

#skills-page #experiences-details dl,
#skills-page #experiences-details dt,
#skills-page #experiences-details dd {
    margin: 0;
}

#skills-page #experiences-details dt,
#skills-page #experiences-details dt button {
    font-size: 1.2rem;
    line-height: 1.1rem;
    text-align: left;
}

#skills-page #experiences-details dt button {
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
}

#skills-page #experiences-details dt button:after {
    content: "";
    display : inline-block;
    float: right;
    height : 0;
    width : 0;
    border-top : 15px solid black;
    border-right : 9px solid transparent;
    border-left : 6px solid transparent;
    transition: transform .2s ease-out;
}
.disable-animation #skills-page #experiences-details dt button:after {
    transition: none;
}
@media (prefers-reduced-motion: reduce) {
    #skills-page #experiences-details dt button:after {
        transition: none;
    }
}

#skills-page #experiences-details dt button[aria-expanded=true]:after {
    transform: rotateZ(180deg);
}

#skills-page #experiences-details dt:not(:first-of-type):before {
    content: "";
    display: inline-block;
    height: 0;
    width: 80%;
    margin: 0 10% 10px 10%;
    border-top: 2px solid black;
    opacity: 0.8;
}

#skills-page #experiences-details dt .experiences-title {
    font-weight: 700;
}

#skills-page #experiences-details dt .experiences-dates {
    font-size: .9rem;
    display: inline-block;
}

#skills-page #experiences-details dd {
    font-size: 1.15rem;
    line-height: 1rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height .7s ease-out;
    font-family: Pink_chicken, Comic_book_regular, serif;
}
.disable-animation #skills-page #experiences-details dd { transition: none; }
@media (prefers-reduced-motion: reduce) {
    #skills-page #experiences-details dd {
        transition: none;
    }
}
#skills-page #experiences-details dt:has(button[aria-expanded=true]) + dd {
    max-height: 330px;
}

#skills-page #experiences-details dd ul li {
    list-style: disc;
    margin: .3rem 0 .3rem 1.3rem;
}
#skills-page #experiences-details dd ul li::marker {
    font-size: 1rem;
}

#skills-page #experiences-details dd .client {
    display: block;
    font-size: 1.35rem;
    font-weight: bold;
}

#skills-page #experiences-details dd .experiences-context .context {
    font-size: 1.1rem;
    font-weight: 700;
}
#skills-page #experiences-details dd .experiences-context {
    display: inline-block;
    font-size: 1rem;
    margin-top: 5px;
}

