#summary-page .front {
    z-index: 10;
    font-family: 'Comic Sans', cursive;
    padding: 1vmin;
    text-align: center;
}

#summary-page .front .categories {
    display: flex;
    flex-wrap: wrap;
}

#summary-page .front ul, #summary-page .front li {
    list-style-type: none;
}

#summary-page h2 {
    font-size: 1.2rem;
    font-weight: bold;
    display: inline-block;
    padding: 3px 30px;
    transform: skew(-15deg);
}

#summary-page button {
    display: inline-block;
    width: 100%;
    height: 100%;
}
#summary-page button > span.text {
    font-size: 1rem;
    font-weight: normal;
}


/* *********************************
*********   PRESENTATION   *********
************************************ */

#summary-page #presentation .bubble {
    opacity: 0;
    transition: opacity .3s ease;
}
#summary-page #presentation:hover .bubble, #presentation:focus .bubble {
    opacity: 1;
}

#summary-page .portrait {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    height: 85%;
    z-index: 10;
}


/* *********************************
*********      SKILLS      *********
************************************ */

#summary-page #skills {
    display: flex;
    align-items: center;
    justify-content: center;
}

#summary-page #skills .panel-container {
    z-index: 30;
    overflow: visible;
}

#summary-page #skills .puff-icon {
    position: absolute;
    transition: all .3s ease;
    opacity: 0;
}

#summary-page #skills .puff1-icon {
    right: -5%;
    top: 3%;
    height: 25%;
}

#summary-page #skills .puff2-icon {
    left: -3%;
    bottom: 7%;
    height: 30%;
    transform: rotateZ(-10deg);
}

#summary-page #skills .puff3-icon {
    right: 3%;
    bottom: 10%;
    height: 20%;
}

#summary-page #skills .puff4-icon {
    left: 25%;
    top: 2%;
    height: 15%;
    transform: rotateZ(-120deg);
}

#summary-page #skills .puff5-icon {
    left: 0;
    top: 20%;
    height: 25%;
    transform: rotateZ(-170deg);
}

#summary-page #skills:hover .puff1-icon, #summary-page #skills button:focus .puff1-icon { transform: translate(23%, -20%); }
#summary-page #skills:hover .puff2-icon, #summary-page #skills button:focus .puff2-icon { transform: translate(-23%, 20%) rotateZ(-10deg); }
#summary-page #skills:hover .puff3-icon, #summary-page #skills button:focus .puff3-icon { transform: translate(23%, 20%); }
#summary-page #skills:hover .puff4-icon, #summary-page #skills button:focus .puff4-icon { transform: translate(-15%, -20%) rotateZ(-120deg); }
#summary-page #skills:hover .puff5-icon, #summary-page #skills button:focus .puff5-icon { transform: translate(-35%, -10%) rotateZ(-170deg); }

#summary-page #skills:hover .puff-icon, #summary-page #skills button:focus .puff-icon {
    scale: 1.2;
    opacity: 1;
}

#summary-page #skills .brain-icon {
    margin-top: -15px;
    height: 50%;
    filter: drop-shadow(0 5px 0px #444);
    pointer-events: none;
    z-index: 10;
}

/* *********************************
*********   CERTIFICATES   *********
************************************ */

#summary-page #certificates .bubble-certification {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}

#summary-page .bubble-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

#summary-page #certificates img {
    transform: translate(-50%, -50%) rotateZ(-15deg);
    transition: all .3s ease;
}

#summary-page .certificate-icon {
    position: absolute;
    top: 55%;
    left: 50%;
    height: 75%;
    pointer-events: none;
    z-index: 30;
}

#summary-page #certificates:hover .certificate-icon, #summary-page #certificates button:focus .certificate-icon {
    transform: translate(-40%, -40%) rotateZ(-25deg);
    scale: 1.3;
}


/* *********************************
*********    FORMATIONS    *********
************************************ */

#summary-page #talks .talk-mic {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 100%;
}

#summary-page #talks .talk-mic .talk-img-wrapper {
    position: absolute;
    top: -20%;
    left: 0;
    height: 120%;
    width: 100%;
    z-index: 30;

    mask-image: url(../assets/bubble-1-mask.png);
    mask-position: bottom center;
    mask-size: cover;
}
#summary-page #talks .talk-mic .talk-img {
    position: absolute;
    top: 29%;
    left: 50%;
    transform: translate(-50%, 0);
    height: 60%;
    z-index: 30;

    pointer-events: none;
    transition: scale .3s ease,  transform .3s ease;
}

#summary-page #talks:hover .talk-mic .talk-img, #summary-page #talks button:focus .talk-mic .talk-img {
    scale: 1.15;
    transform: translate(-43%, -20%);
}


/* *********************************
*********     HOBBIES      *********
************************************ */

#summary-page #hobbies #mixing-bowl > * {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 70%;
    width: 70%;
    margin-left: -35%;
    margin-top: -35%;

    z-index: 30;
    transition: all .2s linear;
}

#summary-page #hobbies #mixing-bowl .bowl {
    top: 60%;
}
#summary-page #hobbies #mixing-bowl .bowl-front {
    filter: drop-shadow(0 5px 0px #444);
}
#summary-page #hobbies:hover #mixing-bowl .bowl-front,
#summary-page #hobbies:hover #mixing-bowl .bowl-back,
#summary-page #hobbies button:focus #mixing-bowl .bowl-front,
#summary-page #hobbies button:focus #mixing-bowl .bowl-back {
    top: 80%;
    scale: 1.1;
    transform: rotateZ(-10deg);
}
#summary-page #hobbies #mixing-bowl .whisk {
    top: 40%;
    left: 70%;
    transform: rotateZ(15deg);
    filter: drop-shadow(2px 2px 0px #444);
}
#summary-page #hobbies:hover #mixing-bowl .whisk, #summary-page #hobbies button:focus #mixing-bowl .whisk {
    scale: 1.1;
    transform: rotateZ(25deg);
    top: 25%;
    left: 85%;
}
#summary-page #hobbies #mixing-bowl .belt {
    top: 55%;
    left: 35%;
    margin-left: -25%;
    transform: rotateZ(45deg);
    width: 45%;
}
#summary-page #hobbies:hover #mixing-bowl .belt, #summary-page #hobbies button:focus #mixing-bowl .belt {
    top: 60%;
    left: 35%;
    margin-left: -40%;
    scale: 1.1;
    transform: rotateZ(30deg);
}
#summary-page #hobbies #mixing-bowl .notebook {
    top: 65%;
    left: 65%;
    transform: rotateZ(-5deg);
    width: 40%;
    height: 40%;

    filter: drop-shadow(1px 1px 0px #444);

    display: flex;
    align-items: center;
    justify-content: center;
}
#summary-page #hobbies:hover #mixing-bowl .notebook, #summary-page #hobbies button:focus #mixing-bowl .notebook {
    top: 45%;
    left: 60%;
    transform: rotateZ(5deg);
    scale: 1.1;
}

#summary-page #hobbies #mixing-bowl .notebook span {
    position: absolute;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 20px;
}

#summary-page #hobbies #mixing-bowl .shoe {
    top: 45%;
    left: 50%;
    width: 30%;
    height: 30%;
    margin-left: -15%;
    margin-top: -15%;
}
#summary-page #hobbies:hover #mixing-bowl .shoe, #summary-page #hobbies button:focus #mixing-bowl .shoe {
    top: 25%;
    left: 20%;
    scale: 1.1;
}

/* *********************************
*********     HOBBIES      *********
************************************ */

#summary-page #contact .handshake {
    position: absolute;
    top: 0;
    left: -10%;
    width: 125%;
    height: 110%;
    z-index: 10;
    pointer-events: none;
    object-fit: cover;
}