@media (max-width: 500px) {
    #summary-page .front {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #summary-page h2 {
        width: 60%;
    }

    #summary-page .front .categories {
        flex: 1;
        gap: 20px;
        padding: 2%;
        width: 100%;
        max-height: 660px;
    }

    #summary-page .front .categories .panel {
        flex: 0 1;
    }

    /* *********************************
    *********   PRESENTATION   *********
    ************************************ */
    #summary-page #presentation:before {
        height: 88%;
    }

    /* *********************************
    *********   CERTIFICATES   *********
    ************************************ */
    #summary-page #certificates .bubble-icon {
        height: 60%;
        width: 90%;
    }

    #summary-page #certificates:hover .certificate-icon, #summary-page #certificates a:focus .certificate-icon {
        transform: translate(-35%, -35%) rotateZ(-25deg);
        scale: 1.3;
    }


    /* *********************************
    *********    FORMATIONS    *********
    ************************************ */
    #summary-page #talks .bubble-icon {
        top: 55%;
        height: 70%;
        width: 95%;
    }

    #summary-page #talks .talk-mic .talk-img-container {
        top: -20%;
        left: 0;
        height: 116%;
    }

    #summary-page #talks .talk-mic .talk-img {
        top: 33%;
        height: 50%;
    }

    #summary-page #talks .talk-mic:after {
        height: 85%;
    }

    /* *********************************
    *********     HOBBIES      *********
    ************************************ */
    #summary-page #hobbies #mixing-bowl .bowl-back {
        margin-top: -3%;
    }
    #summary-page #hobbies #mixing-bowl .bowl-front {
        margin-top: 8%;
    }

    #summary-page #hobbies:hover #mixing-bowl .bowl-front,
    #summary-page #hobbies:hover #mixing-bowl .bowl-back,
    #summary-page #hobbies a:focus #mixing-bowl .bowl-front,
    #summary-page #hobbies a:focus #mixing-bowl .bowl-back {
        top: 70%;
    }
    #summary-page #hobbies:hover #mixing-bowl .bowl-back,
    #summary-page #hobbies a:focus #mixing-bowl .bowl-back {
        top: 79%;
    }

    #summary-page #hobbies #mixing-bowl .belt {
        top: 37%;
        left: 44%;
        transform: rotateZ(65deg);
        width: 40%;
    }

    #summary-page #hobbies:hover #mixing-bowl .belt, #summary-page #hobbies a:focus #mixing-bowl .belt {
        left: 30%;
        scale: 1.2;
    }

    #summary-page #hobbies #mixing-bowl .shoe {
        top: 55%;
        left: 45%;
        transform: rotateZ(25deg);
    }

    #summary-page #hobbies #mixing-bowl .notebook {
        top: 30%;
        left: 32%;
        width: 30%;
        height: 30%;
    }

    #summary-page #hobbies:hover #mixing-bowl .notebook, #summary-page #hobbies a:focus #mixing-bowl .notebook {
        top: -5%;
    }

    #summary-page #hobbies #mixing-bowl .notebook span {
        font-size: 0.8rem;
    }

    #summary-page #hobbies #mixing-bowl .whisk {
        top: 18%;
        left: 62%;
        width: 13%;
        transform: rotateZ(35deg);
    }

    #summary-page #hobbies:hover #mixing-bowl .whisk, #summary-page #hobbies a:focus #mixing-bowl .whisk {
        top: 10%;
        left: 75%;
    }

}

@media (orientation: landscape) and (max-height: 700px) {
    #summary-page .front .categories {
        padding-bottom: 0;
    }

    /* *********************************
    *************   GRID   *************
    ************************************ */
    #summary-page .front .categories {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        grid-auto-rows: minmax(25px, auto);
    }

    #summary-page #presentation {
        grid-column: 1;
        grid-row: 1 / 4;
    }

    #summary-page #skills {
        grid-column: 2;
        grid-row: 1 / 5;
    }

    #summary-page #certificates {
        grid-column: 3;
        grid-row: 1 / 4;
    }

    #summary-page #talks {
        grid-column: 1;
        grid-row: 4 / 8;
    }

    #summary-page #hobbies {
        grid-column: 2;
        grid-row: 5 / 8;
    }

    #summary-page #contact {
        grid-column: 3;
        grid-row: 4 / 8;
    }

    /* *********************************
    *********   PRESENTATION   *********
    ************************************ */
    #summary-page #presentation:before {
        height: 88%;
    }


    /* *********************************
    *********   CERTIFICATES   *********
    ************************************ */
    #summary-page #certificates .bubble-icon {
        top: 47%;
        height: 90%;
        width: 60%;
    }

    #summary-page #certificates img {
        transform: translate(-50%, -50%) rotateZ(15deg);
        transition: all .3s ease;
    }

    #summary-page .certificate-icon {
        top: 52%;
        left: 50%;
        height: 85%;

        transform: translate(-35%, -35%) rotateZ(-25deg);
    }

    #summary-page #certificates:hover .certificate-icon, #summary-page #certificates a:focus .certificate-icon {
        transform: translate(-35%, -35%) rotateZ(25deg);
        scale: 1.3;
    }

    /* *********************************
    *********    FORMATIONS    *********
    ************************************ */
    #summary-page #talks .talk-mic .talk-img-container {
        height: 131%;
    }

    #summary-page #talks .talk-mic:after {
        height: 85%;
    }


    /* *********************************
    *********     HOBBIES      *********
    ************************************ */
    #summary-page #hobbies #mixing-bowl {
        scale: 0.8;
        z-index: 21;
    }

    #summary-page #hobbies:hover #mixing-bowl .bowl-back,
    #summary-page #hobbies a:focus #mixing-bowl .bowl-back {
        top: 89%;
        z-index: 25;
    }

    #summary-page #hobbies #mixing-bowl .shoe {
        width: 30%;
        height: 40%;
    }

    #summary-page #hobbies:hover #mixing-bowl .belt, #summary-page #hobbies a:focus #mixing-bowl .belt {
        top: 50%;
        left: 22%;
    }

    #summary-page #hobbies:hover #mixing-bowl .whisk, #summary-page #hobbies a:focus #mixing-bowl .whisk {
        top: -15%;
        left: 75%;
    }


}