#summary-page .panel:hover, #summary-page .panel.hover, #summary-page .panel:focus {
    scale: 1.05;
    z-index: 50;
}

#summary-page a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: black;
}

#summary-page a:focus {
    outline: 5px solid black;
}

#summary-page .front {
    z-index: 10;
    padding: 2%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#summary-page .front .summary-navigation {
    flex: 1;
    padding: 20px 2%;
    width: 100%;
}

#summary-page .front .summary-navigation ul {
    width: 100%;
    height: 100%;
}

#summary-page .front ul, #summary-page .front li {
    list-style-type: none;
}

#summary-page h2 {
    font-size: 1.2rem;
    font-family: "Comic_book_bold", "Comic_book_regular", "Comic Sans", cursive;
    font-weight: bold;
    display: inline-block;
    padding: 3px 30px;
    transform: skew(-15deg);
    width: 60%;
}

#summary-page button {
    display: inline-block;
    width: 100%;
    height: 100%;
}
#summary-page button > span.text {
    font-size: 1rem;
    font-weight: normal;
}

/* ********** RETURN BUTTON *********** */
#summary-page nav.return-to-front-page-navigation {
    position: absolute;
    top: 2%;
    left: 2%;
    width: 15%;
    height: 40px;
}

#summary-page nav.return-to-front-page-navigation a {
    position: relative;
    height: 100%;
    width: 100%;
    display: block;
    background: url("../assets/arrow-to-left.png") no-repeat center left;
    background-size: contain;
}

#summary-page nav.return-to-front-page-navigation a span {
    bottom: -80px;
    left: 15%;
    right: unset;
    opacity: 0;
    transition: opacity .3s ease;
}
#summary-page nav.return-to-front-page-navigation a:hover span,
#summary-page nav.return-to-front-page-navigation a:focus span {
    animation: reveal-return-button .3s forwards;
}
@keyframes reveal-return-button {
    100% { opacity: 1; }
}

/* *********************************
*************   GRID   *************
************************************ */
#summary-page .front .categories {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(25px, auto);
}

#summary-page #presentation {
    grid-column: 1 / 5;
    grid-row: 1 / 4;
}

#summary-page #skills {
    grid-column: 5 / 9;
    grid-row: 1 / 5;
}

#summary-page #certificates {
    grid-column: 1 / 5;
    grid-row: 4 / 8;
}

#summary-page #talks {
    grid-column: 5 / 9;
    grid-row: 5 / 8;
}

#summary-page #hobbies {
    grid-column: 1 / 6;
    grid-row: 8 / 11;
}

#summary-page #contact {
    grid-column: 6 / 9;
    grid-row: 8 / 11;
}


/* *********************************
*********   PRESENTATION   *********
************************************ */
#summary-page #presentation .bubble {
    top: -50px;
    z-index: 100;
    opacity: 0;
    transition: opacity .3s ease;
}

#summary-page #presentation .bubble.hint {
    opacity: 1;
}

#summary-page .portrait {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    height: 85%;
    z-index: 10;
}


/* *********************************
*********      SKILLS      *********
************************************ */
#summary-page #skills a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#summary-page #skills .panel-container {
    z-index: 30;
    overflow: visible;
}

#summary-page #skills .puff-icon {
    position: absolute;
    transition: all .3s ease;
    opacity: 0;
}

#summary-page #skills .puff1-icon {
    right: -5%;
    top: 3%;
    height: 25%;
}

#summary-page #skills .puff2-icon {
    left: -3%;
    bottom: 7%;
    height: 30%;
    transform: rotateZ(-10deg);
}

#summary-page #skills .puff3-icon {
    right: 3%;
    bottom: 10%;
    height: 20%;
}

#summary-page #skills .puff4-icon {
    left: 25%;
    top: 2%;
    height: 15%;
    transform: rotateZ(-120deg);
}

#summary-page #skills .puff5-icon {
    left: 0;
    top: 20%;
    height: 25%;
    transform: rotateZ(-170deg);
}

#summary-page #skills:hover .puff1-icon, #summary-page #skills.hover .puff1-icon, #summary-page #skills a:focus .puff1-icon { transform: translate(23%, -20%); }
#summary-page #skills:hover .puff2-icon, #summary-page #skills.hover .puff2-icon, #summary-page #skills a:focus .puff2-icon { transform: translate(-23%, 20%) rotateZ(-10deg); }
#summary-page #skills:hover .puff3-icon, #summary-page #skills.hover .puff3-icon, #summary-page #skills a:focus .puff3-icon { transform: translate(23%, 20%); }
#summary-page #skills:hover .puff4-icon, #summary-page #skills.hover .puff4-icon, #summary-page #skills a:focus .puff4-icon { transform: translate(-15%, -20%) rotateZ(-120deg); }
#summary-page #skills:hover .puff5-icon, #summary-page #skills.hover .puff5-icon, #summary-page #skills a:focus .puff5-icon { transform: translate(-35%, -10%) rotateZ(-170deg); }

#summary-page #skills:hover .puff-icon, #summary-page #skills.hover .puff-icon, #summary-page #skills a:focus .puff-icon {
    scale: 1.2;
    opacity: 1;
}

#summary-page #skills .brain-icon {
    margin-top: -15px;
    height: 50%;
    filter: drop-shadow(0 5px 0px #444);
    pointer-events: none;
    z-index: 10;
}

/* *********************************
*********   CERTIFICATES   *********
************************************ */
#summary-page #certificates .bubble-certification {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}

#summary-page .bubble-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

#summary-page #certificates .bubble-icon {
    height: 70%;
    width: 90%;
}

#summary-page #certificates img {
    transform: translate(-50%, -50%) rotateZ(-15deg);
    transition: all .3s ease;
}

#summary-page .certificate-icon {
    position: absolute;
    top: 55%;
    left: 50%;
    height: 65%;
    pointer-events: none;
    z-index: 30;
}

#summary-page #certificates:hover .certificate-icon,
#summary-page #certificates.hover .certificate-icon,
#summary-page #certificates a:focus .certificate-icon {
    transform: translate(-33%, -30%) rotateZ(-25deg);
    scale: 1.5;
}


/* *********************************
*********    FORMATIONS    *********
************************************ */
#summary-page #talks .talk-mic {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 100%;
}

#summary-page #talks .talk-mic .talk-img-container {
    position: absolute;
    top: -20%;
    left: 0;
    height: 124%;
    width: 100%;
    z-index: 30;

    mask-image: url(../assets/bubble-1-mask.png);
    mask-position: bottom center;
    mask-size: cover;
}
#summary-page #talks .talk-mic .talk-img {
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%, 0);
    height: 60%;
    z-index: 30;

    pointer-events: none;
    transition: scale .3s ease,  transform .3s ease;
}

#summary-page #talks:hover .talk-mic .talk-img,
#summary-page #talks.hover .talk-mic .talk-img,
#summary-page #talks a:focus .talk-mic .talk-img {
    scale: 1.15;
    transform: translate(-43%, -20%);
}


/* *********************************
*********     HOBBIES      *********
************************************ */
#summary-page #hobbies #mixing-bowl {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}

#summary-page #hobbies #mixing-bowl > * {
    position: absolute;

    z-index: 30;
    transition: all .2s linear;
}

#summary-page #hobbies #mixing-bowl .bowl {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}
#summary-page #hobbies #mixing-bowl .bowl-back {
    margin-top: -5%;
    z-index: 20;
}
#summary-page #hobbies #mixing-bowl .bowl-front {
    margin-top: 6%;
    filter: drop-shadow(0 5px 0px #444);
    z-index: 30;
}

#summary-page #hobbies:hover #mixing-bowl .bowl-front,
#summary-page #hobbies:hover #mixing-bowl .bowl-back,
#summary-page #hobbies.hover #mixing-bowl .bowl-front,
#summary-page #hobbies.hover #mixing-bowl .bowl-back,
#summary-page #hobbies a:focus #mixing-bowl .bowl-front,
#summary-page #hobbies a:focus #mixing-bowl .bowl-back {
    top: 75%;
    left: 15%;
    scale: 1.1;
    transform: rotateZ(-10deg);
}
#summary-page #hobbies:hover #mixing-bowl .bowl-back,
#summary-page #hobbies.hover #mixing-bowl .bowl-back,
#summary-page #hobbies a:focus #mixing-bowl .bowl-back {
    left: 12.5%;
    top: 85%;
}

#summary-page #hobbies #mixing-bowl .belt {
    top: 40%;
    left: 45%;
    margin-left: -25%;
    transform: rotateZ(45deg);
    width: 30%;
}
#summary-page #hobbies:hover #mixing-bowl .belt,
#summary-page #hobbies.hover #mixing-bowl .belt,
#summary-page #hobbies a:focus #mixing-bowl .belt {
    top: 55%;
    left: 15%;
    margin-left: -40%;
    scale: 1.4;
    transform: rotateZ(10deg);
}

#summary-page #hobbies #mixing-bowl .shoe {
    top: 55%;
    left: 48%;
    width: 30%;
    height: 30%;
    margin-left: -15%;
    margin-top: -15%;
}
#summary-page #hobbies:hover #mixing-bowl .shoe,
#summary-page #hobbies.hover #mixing-bowl .shoe,
#summary-page #hobbies a:focus #mixing-bowl .shoe {
    top: 30%;
    left: 10%;
    scale: 1.1;
    transform: rotateZ(15deg);
}

#summary-page #hobbies #mixing-bowl .notebook {
    top: 22%;
    left: 32%;
    transform: rotateZ(-5deg);
    width: 30%;
    height: 40%;

    filter: drop-shadow(1px 1px 0px #444);

    display: flex;
    align-items: center;
    justify-content: center;
}
#summary-page #hobbies #mixing-bowl .notebook img {
    width: 100%;
    height: auto;
}
#summary-page #hobbies:hover #mixing-bowl .notebook,
#summary-page #hobbies.hover #mixing-bowl .notebook,
#summary-page #hobbies a:focus #mixing-bowl .notebook {
    top: -15%;
    left: 30%;
    transform: rotateZ(5deg);
    scale: 1.2;
}


#summary-page #hobbies #mixing-bowl .notebook span {
    position: absolute;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 1rem;
}
#summary-page #hobbies #mixing-bowl .whisk {
    top: 7%;
    left: 55%;
    margin-left: 0;
    width: 12%;
    transform: rotateZ(35deg);
    filter: drop-shadow(2px 2px 0px #444);
}
#summary-page #hobbies:hover #mixing-bowl .whisk,
#summary-page #hobbies.hover #mixing-bowl .whisk,
#summary-page #hobbies a:focus #mixing-bowl .whisk {
    scale: 1.3;
    transform: rotateZ(60deg);
    top: 5%;
    left: 80%;
}

/* *********************************
*********     CONTACT      *********
************************************ */
#summary-page #contact .handshake {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    pointer-events: none;
    object-fit: cover;
    transition: .3s all ease;
}
#summary-page #contact:hover .handshake,
#summary-page #contact.hover .handshake,
#summary-page #contact a:focus .handshake {
    scale: 1.2;
}