@media (orientation: portrait) and (max-width: 500px) {
    #talks-page .page-with-content .page-content {
        overflow-x: hidden;
        overflow-y: auto;
    }

    /* **************************************************
    *******************   TRAININGS   *******************
    ***************************************************** */
    #talks-page h2#training-title {
        top: 10px;
    }

    #talks-page ul#training-list {
        margin-top: 30px;
    }

    #talks-page ul#training-list li {
        display: block;
        width: 100% !important;
        height: 150px;
    }

    #talks-page ul#training-list li:nth-of-type(2),
    #talks-page ul#training-list li:nth-of-type(3) {
        margin-top: -33px;
    }

    #talks-page ul#training-list li:nth-of-type(2),
    #talks-page ul#training-list li:nth-of-type(3) {
        margin-left: 0;
    }

    #talks-page ul#training-list li:nth-of-type(1) .training-panel,
    #talks-page ul#training-list li:nth-of-type(1) .training-panel-wrapper {
        clip-path: polygon(
                0 0,
                100% 0,
                100% calc(100% - 25px),
                50% calc(100% - 25px),
                calc(50% - 5px) 100%,
                0% 100%
        );
    }

    #talks-page ul#training-list li:nth-of-type(2) .training-panel,
    #talks-page ul#training-list li:nth-of-type(2) .training-panel-wrapper {
        clip-path: polygon(
                0 25px,
                calc(50% - 5px) 25px,
                50% 0,
                100% 0,
                100% calc(100% - 25px),
                50% calc(100% - 25px),
                calc(50% - 5px) 100%,
                0% 100%
        );
    }

    #talks-page ul#training-list li:nth-of-type(3) .training-panel,
    #talks-page ul#training-list li:nth-of-type(3) .training-panel-wrapper {
        clip-path: polygon(
                0 25px,
                calc(50% - 5px) 25px,
                50% 0,
                100% 0,
                100% 100%,
                0% 100%
        );
    }

    #talks-page .training-character {
        width: 50%;
    }

    #talks-page .training-text {
        font-size: 1.3rem;
    }

    #talks-page #react-training .training-character {
        top: 0;
        left: 20%;
        height: 150%;
    }

    #talks-page #react-training .training-text {
        left: unset;
        right: 25%;
        transform: translate(50%, 0) skew(-15deg);
    }

    #talks-page #agile-training .training-character {
        top: unset;
        bottom: 30px;
        left: unset;
        right: -25%;
        height: 135%;
        transform: none;
    }

    #talks-page #agile-training .training-text {
        bottom: 10px;
        left: 25%;
        transform: translate(-50%, 0) skew(-15deg);
    }

    #talks-page #accessibility-training .training-character {
        bottom: unset;
        top: 0;
        left: 0;
        height: 200%;
        transform: scaleX(-1);
        transform-origin: center;
    }

    #talks-page #accessibility-training .training-text {
        left: unset;
        right: 25%;
        transform: translate(50%, 0) skew(-15deg);
    }


    /* **************************************************
    *********************   TALKS   *********************
    ***************************************************** */
    #talks-page #talk-panels li .talk-content span.title {
        font-size: 1.2rem;
        line-height: 1.1rem;
    }
}

@media (orientation: landscape) and (max-height: 700px) {
    #talks-page .page-with-content .page-content {
        position: relative;
        overflow-x: hidden;
        overflow-y: auto;
    }

    #talks-page h2#training-title {
        top: 10px;
    }

    #talks-page ul#training-list {
        margin-top: 20px;
    }


    #talks-page ul#training-list li:nth-of-type(1) {
        width: 33%;
    }

    #talks-page ul#training-list li:nth-of-type(2) {
        width: 38%;
    }

    #talks-page ul#training-list li:nth-of-type(3) {
        width: 34%;
    }

    #talks-page ul#training-list li:nth-of-type(2),
    #talks-page ul#training-list li:nth-of-type(3) {
        margin-left: -3%;
    }
}